// Шрифты
$font-heading: "Manrope", sans-serif;
$font-body: "Inter", sans-serif;

// Базовые параметры
$line-height-default: 113%;

// Типографика
h1,
h2,
h3,
h4,
body {
  margin: 0;
}

h1 {
  font-weight: 700;
  line-height: 113%;
  font-family: "Manrope", sans-serif;

  @media (min-width: 1025px) {
    font-size: 96px;
  }
  @media (min-width: 768px) and (max-width: 1280px) {
    font-size: calc(64px + 32 * ((100vw - 768px) / 512));
  }

  @media (max-width: 767px) {
    font-size: calc(36px + 28 * ((100vw - 375px) / 392));
  }
}

h2 {
  font-weight: 600;
  line-height: 113%;
  font-family: "Manrope", sans-serif;

  @media (min-width: 1025px) {
    font-size: 64px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: calc(48px + (64 - 48) * ((100vw - 768px) / (1024 - 768)));
  }

  @media (max-width: 767px) {
    font-size: calc(32px + (48 - 32) * ((100vw - 375px) / (767 - 375)));
  }
}

h3 {
  font-weight: 600;
  line-height: 113%;
  font-family: "Manrope", sans-serif;

  @media (min-width: 1025px) {
    font-size: 24px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 24px; // не меняется
  }

  @media (max-width: 767px) {
    font-size: 24px; // не меняется
  }
}

h4 {
  font-weight: 500;
  line-height: 113%;
  font-family: "Manrope", sans-serif;

  @media (min-width: 1025px) {
    font-size: 18px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 18px; // не меняется
  }

  @media (max-width: 767px) {
    font-size: calc(20px - (20 - 18) * ((100vw - 375px) / (767 - 375)));
  }
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: normal;

  // Размер одинаковый во всех брейкпоинтах
}
