$primary-color: #83ff8f;
$lightGray-color: #f1f1f1;
$gray-color: #d9d9d9;
$gray-color2: #e4e4e4;
$portage-color: #8e7ff0;
$backgroundBlack-color: #1a1a1a;
$black-color: #000;
$white-color: #fff;
